<!-- This is a comment that will not show up in the browser -->

<!-- This script will be loaded and exectuted -->
<script src="script.js"></script>

<!-- this style file will be loaded and applied to the page -->
<link href="styles.css" rel="stylesheet"/>

<script>
	console.log('This is an inline script');
</script>

<h1>This is a top level header (h1)</h1>

<h3>This is a third level header with a style applied from the style file.</h3>

<p>
	This is a paragraph with <em>some italics in an emphasis (em) tag</em> and <strong>heres some bold text in a "strong" tag</strong>.
</p>

<p class="styled-text">
	This text is styled and will look different than the above.
</p>

<!-- This is an inline style block that will contain the rules for the above -->
<style>
	/* This is a "selector" with a rule that colors all text for html that matches the selector */
	.styled-text {
		color: red;
	}
</style>

This is just some random free-floating text.